<%= simple_form_for [recipe, planned_meal], remote: true, data: { add_to_calendar_target: "form", action: "submit->add-to-calendar#send" } do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= f.input :date, as: :string, input_html: { id: "date", data: { controller: "datepicker", add_to_calendar_target: "input" }, class: "form-control text-center mx-auto w-50", placeholder: "Select a day" }, label: false %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= f.button :submit, "Add to my calendar", class: "btn orange-btn d-flex justify-content-center mx-auto mt-2 mb-3 p-2" %>
    </div>
  </div>
<% end %>
