<div class="search-container">

  <div class="row">
      <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="Search recipes">
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
          <h5 class ="pt-4 pb-4"><b>Recent Search</b></h5>
      </div>
  </div>

  <div class = "search-grid">
          <% @recipes.each do |recipe| %>
            <div class="card">
                <img src="<%= recipe.image %>" class="card-image" alt="<%= recipe.title %>">
                <div class="card-content">
                    <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
                    <p class="card-text"><%= recipe.category.split(', ')[0] %></p>
                </div>
                <button class="add-button">+</button>
            </div>
          <% end %>
  </div>

</div>
