 <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Search recipes">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h5>Recent Search</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="https://www.volim-meso.hr/wordpress/wp-content/uploads/2023/04/spare-ribs-IG.jpg" class="card-img-top" alt="Traditional spare ribs">
                    <div class="card-content">
                        <h6 class="card-title">Traditional spare ribs</h6>
                        <p class="card-text">Category</p>
                    </div>
                    <button class="add-button">+</button>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <img src="https://www.volim-meso.hr/wordpress/wp-content/uploads/2023/04/spare-ribs-IG.jpg" class="card-img-top" alt="Lamb chops with fruity couscous and mint">
                    <div class="card-content">
                        <h6 class="card-title">Lamb chops with fruity couscous and mint</h6>
                        <p class="card-text">Category</p>
                    </div>
                    <button class="add-button">+</button>
                </div>
            </div>

        </div>
        <!-- Add more rows for more recipe cards -->
    </div>

  </body>
