<div class="container m-3 p-3">
  <div class="row justify-content-center">

    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col-2">
          <% if user_signed_in? %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo, class: "avatar" %>
            <% else %>
              <i class="fa-solid fa-bowl-food justify-content-center"></i>
            <% end %>
          <% else %>
            <i class="fa-solid fa-bowl-food justify-content-center"></i>
          <% end %>
        </div>
        <div class="col-10">
          <% if user_signed_in? %>
            <h4>Hello, <b><%= current_user.username %></b>!</h4>
          <% else %>
            <h4>Hello, you!</h4>
          <% end %>
          <p>What are you cooking this week?</p>
        </div>
      </div>
    </div>

    <%= render "shared/search" %>

    <div class="col-12 col-lg-8 text-center mb-3">
      <p><b>Today</b></p>
    </div>

    <div class="col-12 col-lg-6 justify-content-center">
      <p><b>Recipes</b></p>
      <ul>
        <% @recipes.each do |recipe| %>
          <li><%= link_to recipe.title, recipe_path(recipe) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
