.add-recipe-card {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-recipe-card:hover {
  background-color: #f7f7f7;
}

.add-recipe-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 36px;
  color: #666;
}

.add-recipe-link {
  text-decoration: none;
  color: inherit;
}
