.bigcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: white;
}

