.orange-btn {
  background-color: $orange;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.orange-btn-larger {
  background-color: $orange;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.orange-btn-round {
  background-color: $orange;
  font-size: 20px;
  color: white;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
}

.delete-button-favorites {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-close-fav {
  position: absolute;
  top: 10px;
  right: 10px;
}
