.card {
  width:  100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  font-size: 11px;
  padding: 7px;
  background: linear-gradient(to bottom, #00000010 1%, #000000 90% );
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
