.card-category {
  display: inline-block;
  font-size: 12px;
  color: rgb(251, 195, 93);
  font-weight: 600;
  background-color:black;
  border: none;
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.card-category-active {
  background-color: $orange;
  color: white;
}
