.card-category {
  display: inline-block;
  font-size: 14px;
  color: $orange;
  font-weight: bold;
  background-color: white;
  border: none;
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.card-category-active {
  background-color: $orange;
  color: white;
}
