.header-pages {
  height: 200px;
  width: 100%;
  background-color: $orange;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
