.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fixed-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: lightgray;
  z-index: 999;
}

.fixed-navbar .active {
  fill: orangered;
  border-color: ;
}

.fixed-navbar .inactive {
  fill: ;
  border-color: ;
}

@media only screen and (max-device-width: 960px) {
  . {
    : ;
  }
}
