// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$gray: #E4E4E4;
$dark-gray: rgb(84, 84, 84);

body {
  background-color: $gray;
  font-family: $poppins;
  margin-bottom: 12vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}

.search-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.indexpage-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-icon {
  margin-right: 40px;
  text-decoration: none;
  font-size: 24px;
}
h3 {
  margin: 0;
}

.favorite-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
}

a {
  text-decoration: none;
}

.categoty-btn {


}
